*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bgColor: #203FC7;
  --mainColor:#203FC7;
}

.btnAdmin{
  color:#fff;
  background-color: var(--bgColor);
}
.viewAction{
  color: var(--mainColor);
}
.viewAction svg{
  color: var(--mainColor);
}

.mySwiper.swiper-horizontal{
  margin: 5px 20px;
}
.mySwiper .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #ccc;
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active{
  background-color: rgb(226, 68, 100);
}

