*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bgColor: #203FC7;
  --mainColor:#203FC7;
}

.btnAdmin{
  color:#fff;
  background-color: var(--bgColor);
}
.viewAction{
  color: var(--mainColor);
}
.viewAction svg{
  color: var(--mainColor);
}
/* stepper */
.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root{
  color: #E5E5E5 !important;
}
.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #1ABC9C !important;

}



