*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bgColor: #203FC7;
  --mainColor:#203FC7;
  --textGray: #B0B0B0;
}

.textGray{
  color: var(--textGray);

}

.btnAdmin{
  color:#fff;
  background-color: var(--bgColor);
}
.viewAction{
  color: var(--mainColor);
}
.viewAction svg{
  color: var(--mainColor);
}
/* stepper */
.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root{
  color: #E5E5E5 !important;
}
.css-3hpdci-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #1ABC9C !important;

}



.mySwiper.swiper-horizontal{
  margin: 5px 20px;
}
.mySwiper .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color: #ccc;
  opacity: 1;
}

.mySwiper .swiper-pagination-bullet-active{
  background-color: rgb(226, 68, 100);
}

