/* SideBar */

 .ps-sidebar-container{
    background-color:rgba(32, 63, 199, 1) !important;
    min-height:100vh;
    color: white;

}

.ps-sidebar-container .ps-menu-button{
    transition: all 1s;
}
.ps-menu-button:hover,
.ps-sidebar-container .active{
    background-color: rgba(26, 27, 30, 0.17)  !important;

  }


/* end SideBar */
/* admin dashboard  */
.dashboard_box{
    background-color: #1A1B1E;
    padding: 30px 20px;
    border-radius: 12px;
    color: white;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}
.dashboard_icon{
  background: #203FC733;
  padding: 10px;
  border-radius: 50%;

}